<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>homepl</key>
		<array>
			<dict>
				<key>name</key>
				<string>长痕</string>
				<key>content</key>
				<string>第一！！！！</string>
			</dict>
		</array>
		<key>content</key>
		<string>兼职，是指职工同时从事一个以上的职业或职务。各国法律一般并不禁止职工兼职，但有的情况下，企业、单位并不特别赞成本企业单位职工兼职。职工个人是否兼职，要看各种情况而定。中国有关劳动法规规定：科学研究、教学、医疗、工农业生产等单位，根据工作需要，可以临时聘请中、高级科学技术人员担任顾问或承担讲课、讲学、科研、设计等兼职任务。兼职人员根据自己完成的工作量和工作成绩取得一定报酬。此外，中国还有一些兼职是不另取报酬的。如科技人员兼任学术团体领导职务。中国一般不实行兼职的政策 ，但在经济体制改革中 ，允许职工在完成8小时工作任务外，利用业余时间从事第二职业，允许教师、科技人员、律师在不影响本职工作的前提下兼职，并取得相应的报酬。此外，中国还有些兼职是不宜领取报酬的。如行政人员兼教学，教师兼行政职务等。</string>
		<key>title</key>
		<string>兼职</string>
		<key>name</key>
		<string>fsddak</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>homepl</key>
		<array/>
		<key>content</key>
		<string>1.家里确实困难，想自己赚点钱，补贴生活费，帮助家人降低负担，现在助学金虽然有很多名额，但是很多都是到了不困难的学生的手里面了。\r\n2.体验社会生活，提前进入社会，因为平时在学校中学习，学校的氛围和社会中是不一样的，所以抽些空余时间体验一下社会的工作协作，团队合作，工作中与人的沟通，积累一些经验，让自己更成熟些。\r\n3.运用自己的知识和能力，希望通过兼职等方式来将自己的理论知识转化为自己的实践经验。\r\n4.用自己的知识帮助别人，比如一下同学做些家教什么的。\r\n5.现在做兼职也是一种生活吧，暑假时间比较多，不可能天天上网或者呆在家里看电视吧，需要一种新的方式来增加生活的乐趣，很多人都在做，你一个人闲着也是无聊，那就干吧。\r\n6.另外，现在大学生在外面租房子生活的不少，也有小夫妻两个想筹点钱打算打算什么的。\r\n其他的原因还有很多，需要大家来挖掘，嘿嘿。大学生是一个很特殊的群体，有文化，有性格，有朝气，大家都会走入社会，提前实习也是很有好处的，有些特殊的经历或许会是你人生中的一份珍贵的礼物。</string>
		<key>title</key>
		<string>大学为什么一定要兼职？</string>
		<key>name</key>
		<string>fedaafgf</string>
	</dict>
	<dict>
		<key>title</key>
		<string>毕业前夕</string>
		<key>content</key>
		<string>&quot;本来计划是先处理好学校毕业那些需要的论文啊外文翻译材料，然后找工作。到毕业前租房子，毕业就可以马上独立生活了。

虽然生活总是那么平淡和按部就班，但是跟我们想象的还是不会一样的。

现在我还在工作上迷茫着。

不知不觉，已经历了7个工作了，有工作过的有4个了。



 

就像以前大人总是会问小孩，“你长大想做什么？”</string>
		<key>name</key>
		<string>长痕</string>
		<key>homepl</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>面试</string>
		<key>content</key>
		<string>&quot;我第一次面试就是：UI设计师

这实际上是一家做外包和培训的公司，他们招各种无基础的编程设计等职位，其实只是做培训的。前期补贴你生活费，后期你工作了还培训费。

简历是下午在智联上投的，然后马上就给我打电话了，第二天去面试。

比之前投的公司有效率多了，几天没回复。

毕竟这也是他们赚钱的渠道，当然也更勤快。我也很勤快，想着下午还有几个小时呢，我下午就赶过去了。</string>
		<key>name</key>
		<string>XY</string>
		<key>homepl</key>
		<array>
			<dict>
				<key>name</key>
				<string>刘明</string>
				<key>content</key>
				<string>对打套利</string>
			</dict>
			<dict>
				<key>name</key>
				<string>XY</string>
				<key>content</key>
				<string>划水</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>运营</string>
		<key>content</key>
		<string>&quot;内容运营。

这是一个前网易副总裁离职创业的项目，可见其风光程度了。当然我只是网上随意投的，没来之前我也不造陈峰是谁。



记得面试前，HR给我打电话让我7点到，我是有点震惊的。这公司工作这么勤奋，7点就开始上班了？我说可不可以晚点，毕竟学校离那地方太远，将近两个小时车程呢。她说11点前吧，但是我还是希望可以早一点。也许我能7点前赶到呢。

第二天早上，我很早就起来了，随便吃点什么就去了，我还真7点前到了，不过由于没找对地方，7点左右才找到公司。那是一个大的写字楼，我拿着简历战战兢兢走进电梯。总觉得我与这个地方的画风是不对的，一定有人觉得哪里来的小孩子这么早跑来玩。

事实上7点是他们审核员才上班的时间，也许只是我听错了时间。</string>
		<key>name</key>
		<string>萧山</string>
		<key>homepl</key>
		<array>
			<dict>
				<key>name</key>
				<string>Danfei</string>
				<key>content</key>
				<string>哪有什么选择恐惧症，还不是因为穷；哪有什么优柔寡断，还不是因为怂。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>秋桂</string>
				<key>content</key>
				<string>有兴趣的了解欧</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>不要想一夜暴富</string>
		<key>content</key>
		<string>首先申明，我这个项木不敢保证带你赠多少，但是一个月起码比你工作要好百倍，那些想一夜bao富的，贝兼了不会分的勿扰，庙太小容不下。不要问我能贝兼多少多少，这个我回答不了你了，因为付出和回报是成正比的，我需要的是胆大心细的合作人，做这个项目一旦那个环节出问题了将会竹篮打水一场空</string>
		<key>name</key>
		<string>发散思维</string>
		<key>homepl</key>
		<array>
			<dict>
				<key>name</key>
				<string>天空</string>
				<key>content</key>
				<string>没办法，有些路只能自己一个人走。跟家人求助，不符合性格。骨子里的倔强，天生的好强吧。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mr</string>
				<key>content</key>
				<string>&quot;我是希望大家能够多了解这个地方，这里能净化一个人的心灵。
这里少了许多喧哗，多了一份贴近自然的感觉
很喜欢这里不知名小岛、沙滩、太阳、啤酒还有比基尼
这里是公司安排的住宿小区。&quot;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>不要想躺</string>
		<key>content</key>
		<string>项目小灰，墨守成规的别来，每个项目不需要你动手不需要本金都没办法启动，如果你觉得躺着钱能进你口袋，请你不要找我，我不能保证你一日曝复，,但希望能细水长流，汇聚江海，先要平稳的心态， 不要操作时失误影响大局，自己有规划性和目标性，做到这两点，过来找我我来帮你</string>
		<key>name</key>
		<string>dfswqqq</string>
		<key>homepl</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>大学生在国外可以找什么兼职？</string>
		<key>content</key>
		<string>现在，出国留学已经是成为了很多学生的首选，目前有很多留学生在国外留学期间进行打工兼职，适当的兼职可以减轻一些生活费用，同时还能使我们更好的锻炼自己，更快的融入国外留学生活，那么留学生通常能够挑选哪些打工兼职呢?
工作选择一：中餐馆待应
优势：最简略找的作业，英文需求低;
缺点：作业辛苦，作业环境差，作业技能含量低，薪水较低，作业经历几乎没有价值。
办法：电话或拜访你地点市镇的中餐馆即可熟练掌握国/粤/ 英语者时机最大。
工作选择二：助教或Part-time讲师
优势：作业轻松，酬劳较高，作业经历价值高; 缺陷：需研究生等级，对英语需求较高。
办法：导师有时会找上门来;系里通常会张贴广告聘任助教校园网站通常有Part-time的listing。
工作选择三：IT有关的Projects
优势：酬劳较高，作业环境好，有时可在家作业，时刻较灵敏，作业经历价值高，实习时机较多;
缺点：需求IT本科3年以上学历，对最新的技能需求很高。
办法：能够在校园的有关公告栏寻觅，或在当地Job Centre，以及作业网站寻觅。
工作选择四：超级市场/快餐店Staff
优势：时刻灵敏，可了解西方管理方法，作业环境较好;
缺点：虽然大都超级市场/快餐店有平等时机条款，但亚洲学生较难找到此类作业，薪水较低。
办法：当地超级市场和快餐店都有Job Offers的公告栏可查询，也可拜访招聘网站等。 寻觅结业后的作业时机。
除此之外还有其他品种的兼职作业如：收银员，调酒师，单位杂务人员，餐厅清洁人员等。
以上就是天道 留学小编为大家整理的出国留学兼职工作的几类打工方式，但是小编要提醒大家：在国外兼职打工切忌不要过量，影响身体，影响学习。</string>
		<key>name</key>
		<string>eieieiei</string>
		<key>homepl</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>在校大学生可以做什么兼职？</string>
		<key>content</key>
		<string>很多兼职啦，看你个人的专业而言。除去普遍的图书馆兼职，食堂兼职，还有就是你专业的老师是不是需要你，比如学新闻媒体专业的，就有人去帮老师剪影片，去跟着抗摄像机采访，钱可多了。
校外的话，外卖啊，快餐店啊，饭馆啊，派传单啊，举牌子游行宣传啊，或者做推销啊，等等。</string>
		<key>name</key>
		<string>XY</string>
		<key>homepl</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>美国人上大学时做兼职很普遍</string>
		<key>content</key>
		<string>上大学兼职是很正常的，一般的美国学生的独立意识是很强的，所以大学兼职对他们来说也是很正常的事情，相反在国内大学兼职，感觉是很让人羡慕的，因为在国内的话，主要是为了完成学业为主的。所以在美国能做兼职的话，还是尽量做一些兼职，提前感受一下工作的氛围</string>
		<key>name</key>
		<string>张伟</string>
		<key>homepl</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>大学生在校期间一定要兼职吗</string>
		<key>content</key>
		<string>个人不建议大学里纯粹为了钱去兼职，家里条件困难的除外。
大学是你最后一个能认真学习的地方，你应该多读书，无论什么，多充实自己。
在大学里多参加社团，学生会活动，以及学校组织的一些校外实践活动。
我大学里没主动打工过，偶尔被兄弟拉去哪里帮忙过，在学校里自己组织了一个社团，参加了很多社团。学生会里也有自己的一席之地。每次学校搞文艺演出基本都是我幕后的。还参加过国家级的比赛，虽然最后只拿了个安慰奖。在课余，我还谈了很多次恋爱，落下了花心的外号，连系主任都知道了，结果没让我入党。不过我觉得很开心。在这几年里，我学会了很多，如何带领一个团队，如何做好一个管理者。而且钱也不少，奖学金，参加演出活动的慰问金。
个人建议，还是依照自己的喜好去过完自己的大学。哪怕是玩，也请你玩出精彩，这是你最后一段的自由时间。</string>
		<key>name</key>
		<string>xiaotao</string>
		<key>homepl</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>外国的学生兼职都在做什么</string>
		<key>content</key>
		<string>一、校园网管

很多大学都有那种专门的给大学生们使用的电脑。你可以在里面查阅资料，寻找自己想要的文献等等。但是因为用的人多了，网络出现损耗和网络维护等等都需要人，这个时候就需要一些学生兼职来担任这些网管来辅助网络维护。

二、校园图书馆

我们看过很多美剧，很多美丽的邂逅很多故事都是发生在图书馆内。在美国大学图书馆为学生兼职提供的工作机会较多。图书馆环境单纯，工作任务也不重，是最好半工半读的地方。由于此类工作比较热门，建议留学生到校后尽早到图书馆询问有关信息。

三、各式餐厅端盘子

端盘子一直都是很多留学生兼职的首选，并不是因为我们不会做其他的事情。只是因为语音这关我们不好过。洗盘子是比较不需要语言和别人交流的。而且端盘子的话人手总是不够，所以洗盘子端盘子也是一个热门的兼职选择。</string>
		<key>name</key>
		<string>酱紫</string>
		<key>homepl</key>
		<array/>
	</dict>
</array>
</plist>
